.back {
    background-color: var(--color-dialog-back);
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.base {
    background-color: var(--color-back);
    position: absolute;
    border: 2px solid var(--color-border);
}

.menu-item {
    border: 1px solid var(--color-border);
    height: 35px;
    padding: 5px;
    user-select: none;
}

.menu-item:hover {
    background-color: var(--color-button-hover);
}

.menu-item.selected {
    border: 1px solid var(--color-button-hover);
}